article.container-fluid{
    .cuerpo-club{
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 3rem;
        .container{
            .row{
                .col-12{
                    .block{
                        .text-long{
                            p{
                                font-size: 2rem;
                                line-height: 2rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .tit-club{
        margin-bottom: -3rem;
        .container{
            .row{
                .col-12{
                    .block{
                            align-items: center;
                            background-color: rgba(0, 0, 0, .5490196078);
                            border-radius: 10px;
                            height: 40px;
                            width: 100%;
                            padding-top: 2rem;
                            padding-bottom: 2rem;
                            box-sizing: content-box;
                        h2.h2{
                                font-size: 2.5rem;
                                line-height: 1rem;
                                word-break: break-word;
                                margin: unset;
                                text-align: center;
                                text-transform: uppercase;
                                padding: 1rem;
                                
                        }
                        span{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}